@{
    ViewBag.Title = "Index";
}

<div>
    <h3> Количество заказов: @ViewData["cnt"]</h3>
    <h3> Client name: @ViewBag.Client</h3>
</div>

<div>
    @using (Ajax.BeginForm("SearchProduct", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="loading" style="display:none; color:Red; font-weight:bold;">
        <img src="~/Content/progress_bar.gif" />
        <p>Идет загрузка...</p>
    </div>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <div id="results"></div>
</div>

@Html.ActionLink("tESTING", "Detail", new { id = 1 }, new { @class = "compItem" })

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
